@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
	--color-primary-main: #006AFF;
}

html {
  font-size: 50%;
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

*:focus {
	outline: none;
}

body {
  box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
  font-size: 16px;
	color: #333;
	background: #eee;
	margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 58px;
	font-family: 'Times', serif;
	font-weight: bold;
	margin-bottom: 1.8rem;
}

h2 {
  font-size: 38px;
  line-height: 46px;
	font-family: 'Times', serif;
	font-weight: 600;
}

h3 {
	font-family: 'Times', serif;
  font-size: 31px;
  line-height: 37px;
}

h4 {
  font-size: 25px;
  line-height: 30px;
}

h5 {
  font-size: 20px;
  line-height: 24px;
	font-weight: 600;
}

.btn {
  padding: 1.5rem 2.5rem;
	font-size: 1.4rem;
	font-weight: bold;
	transition: all .2s ease;
	border-radius: 3px;
}

.btn:focus {
	outline: none;
}

.btn:disabled {
	pointer-events: none;
	border: 1px solid #dedddc;
	color: #dedddc;
	background-color: transparent;
}

.btn-primary {
	background-color: var(--color-primary-main);
	color: white;
}

.btn-primary:hover {
	background-color: #141414;
}

.btn-outline {
	background-color: transparent;
	border-color: rgba(20,20,20,.5);
	color: rgba(20,20,20,.5);
	border: 1px solid rgba(20,20,20,.5) 
}

.btn-outline:hover {
	border-style: solid;
	border-color: #141414;
	color: #141414;
}

.btn-black {
  background-color: black;
  color: white;
}

.link {
	color: var(--color-primary-main);
	transition: all .2 ease;
}

.link:hover {
	color: #141414;
}

.nav-link {
	color: rgba(20,20,20,.5);
	transition: all .2s ease;
}

.nav-link:hover {
	color: #141414;
}

li {
	list-style: disc;
	list-style-position: inside;
	padding-left: 1rem;
	transition: all .2s;
}

label {
	font-weight: 600;
	user-select: none;
}

input {
	border: 1px solid rgba(36,28,21,0.3);
	background-color: white;
	transition: all .2s ease;
	border-radius: 2px;
	width: 100%;
	padding: 0 1.5rem;
	min-height: 4.6rem;
}

input:focus {
	outline: none;
	border: 1px solid var(--color-primary-main);
	box-shadow: inset 0 0 0 1px var(--color-primary-main);
}

.input-underlined {
	border: 0;
	border-bottom: 1px solid rgba(36,28,21,0.3);
	background-color: white;
	transition: all .2s ease;
	border-radius: 2px;
	width: 100%;
	padding: 0 1.5rem;
	min-height: 4.6rem;
}

.input-underlined:focus {
	outline: none;
	border: 0;
	border-bottom: 1px solid var(--color-primary-main);
	box-shadow: inset 0 -10px 0 -9px var(--color-primary-main);
}

textarea {
	border: 1px solid rgba(36,28,21,0.3);
	background-color: white;
	transition: all .2s ease;
	border-radius: 2px;
	width: 100%;
	padding: 1rem 1.5rem;
	min-height: 12rem;
}

textarea:focus {
	outline: none;
	border: 1px solid var(--color-primary-main);
	box-shadow: inset 0 0 0 1px var(--color-primary-main);
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.StripeElement {
	font: inherit;
	color: currentColor;
	width: 100%;
	height: 1.1876em;
	display: block;
	padding: 18.5px 14px;
	min-width: 0;
	background: none;
	box-sizing: content-box;
	animation-name: mui-auto-fill-cancel;
	letter-spacing: inherit;
	animation-duration: 10ms;
	-webkit-tap-highlight-color: transparent;
	margin-top: 16px;
	margin-bottom: 8px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
	width: auto; 
}

.StripeElement:hover {
	border-color: rgba(0,0,0,1);	
}
.component-selected {
	display: relative;
}
.component-selected::after {
  content: ' ';
	border-bottom: 1px dashed #2680eb;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	display: block;
}

.card {
	color: #777;
	font-size: 1.3rem;
	position: relative;
	-webkit-transition: all .7s cubic-bezier(.19, 1, .22, 1);
	transition: all .7s cubic-bezier(.19, 1, .22, 1);
	height: auto;
	overflow: hidden;
	box-shadow: rgb(209, 209, 213) 0px 0px 4px;
	margin-bottom: 24px;
	max-width: 100%;
	border-radius: 5px;
	border: 0;
}

.card-image {
	height: 23rem;
	-o-object-fit: cover;
	object-fit: cover;
	width: 100%;
	cursor: pointer;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  height: 15px;
} 

.spinner .path {
	stroke: #fff;
	stroke-linecap: round;
	animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

