@tailwind base;

@tailwind components;

@tailwind utilities;

/*
html .dashboard {
  font-size: 50%;
}

@media only screen and (min-width: 576px) {
  html .dashboard {
    font-size: 56.25%;
  }
}

@media only screen and (min-width: 768px) {
  html .dashboard {
    font-size: 62.5%;
  }
}
*/

body {
  box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
  font-size: 16px;
	color: #333;
	background: #eee;
	margin: 0;
}

/*
.dashboard h1 {
  font-size: 48px;
  line-height: 58px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.dashboard h2 {
  font-size: 38px;
  line-height: 46px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.dashboard h3 {
	font-family: 'Poppins', sans-serif;
  font-size: 31px;
  line-height: 37px;
}

.dashboard h4 {
  font-size: 25px;
  line-height: 30px;
}

.dashboard h5 {
  font-size: 20px;
  line-height: 24px;
	font-weight: bold;
}

.dashboard .btn {
  display: inline-block;
  padding: 1.5rem 2.5rem;
	font-size: 1.4rem;
	font-weight: bold;
	transition: all .2s ease;
	border-radius: 3px;
}

.dashboard .btn:focus {
	outline: none;
}

.dashboard .btn-primary {
	background-color: #089aae;
	color: white;
}

.dashboard .btn-primary:hover {
	background-color: #141414;
}

.dashboard .btn-outline {
	background-color: transparent;
	border-color: rgba(20,20,20,.5);
	color: rgba(20,20,20,.5);
	border: 1px solid rgba(20,20,20,.5) 
}

.dashboard .btn-outline:hover {
	border-style: solid;
	border-color: #141414;
	color: #141414;
}

.dashboard .btn-black {
  background-color: black;
  color: white;
}

.dashboard .link {
	color: #00465a;
	text-decoration: underline;
	transition: all .2 ease;
}

.dashboard .link:hover {
	color: #141414;
}

.dashboard .nav-link {
	color: rgba(20,20,20,.5);
	transition: all .2s ease;
}

.dashboard .nav-link:hover {
	color: #141414;
}

.dashboard li {
	list-style-image: url(https://uploads-ssl.webflow.com/5ce70410a40e7fbd23c39c8e/5d0150fa01d01e8019ec4429_checkmark.svg);
	padding-left: 1rem;
}

.dashboard input {
	border: 1px solid rgba(36,28,21,0.3);
	background-color: white;
	transition: all .2s ease;
	border-radius: 2px;
	width: 100%;
	padding: 0 1.5rem;
	min-height: 4.6rem;
}

.dashboard input:focus {
	outline: none;
	border: 1px solid #087887;
	box-shadow: inset 0 0 0 1px #087887;
}

.dashboard .input-underlined {
	border: 0;
	border-bottom: 1px solid rgba(36,28,21,0.3);
	background-color: white;
	transition: all .2s ease;
	border-radius: 2px;
	width: 100%;
	padding: 0 1.5rem;
	min-height: 4.6rem;
}

.dashboard .input-underlined:focus {
	outline: none;
	border: 0;
	border-bottom: 1px solid #087887;
	box-shadow: inset 0 -10px 0 -9px #087887;
}

.dashboard textarea {
	border: 1px solid rgba(36,28,21,0.3);
	background-color: white;
	transition: all .2s ease;
	border-radius: 2px;
	width: 100%;
	padding: 1rem 1.5rem;
	min-height: 12rem;
}

.dashboard textarea:focus {
	outline: none;
	border: 1px solid #00465a;
	box-shadow: inset 0 0 0 1px #00465a;
}
*/

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.StripeElement {
	font: inherit;
	color: currentColor;
	width: 100%;
	height: 1.1876em;
	display: block;
	padding: 18.5px 14px;
	min-width: 0;
	background: none;
	box-sizing: content-box;
	animation-name: mui-auto-fill-cancel;
	letter-spacing: inherit;
	animation-duration: 10ms;
	-webkit-tap-highlight-color: transparent;
	margin-top: 16px;
	margin-bottom: 8px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
	width: auto; 
}

.StripeElement:hover {
	border-color: rgba(0,0,0,1);	
}
